body {
background-color: rgb(241, 242, 246);
padding-top: 70px;
}
.profile {
width: 100%;
float: left;
padding: 15px 10px;
position: relative;
background: #2d3945;
}
.profile .profile-image {
float: left;
width: 100%;
margin: 0 0 10px;
text-align: center;
}
.profile .profile-image img {
width: 100px;
border: 3px solid #FFF;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
}
.profile .profile-data {
width: 100%;
float: left;
text-align: center;
}
.profile .profile-data .profile-data-name {
width: 100%;
float: left;
font-size: 14px;
font-weight: 500;
color: #FFF;
}
.profile .profile-data .profile-data-title {
width: 100%;
float: left;
font-size: 11px;
font-weight: 400;
color: #999;
}


.nav-search-resuts {
	list-style: none;
	margin: 0 auto;
	text-align: left;
}

.nav-search-resuts li{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
	background: white;
}

.nav-search-resuts li img{
	width:60px;
	height:60px;
	float:left;
	border:none;
}

.nav-search-resuts li p{
	margin-left: 75px;
	font-weight: bold;
	padding-top: 12px;
	color:#6e7a7f;
}