<div class="well clearfix">
    <div class="media col-md-6">
        <a class="pull-left" href="#"><img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            <p>12 Apr, 2013 at 12:30</p>
        </div>
    </div>
    <div class="media col-md-6">
        <a class="pull-left" href="#"><img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            <p>12 Apr, 2013 at 12:30</p>
        </div>
    </div>
    <div class="media col-md-6">
        <a class="pull-left" href="#"><img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            <p>12 Apr, 2013 at 12:30</p>
        </div>
    </div>
    <div class="media col-md-6">
        <a class="pull-left" href="#"><img class="media-object img-rounded" src="http://bootflat.github.io/img/photo-2.jpg">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Nested media heading</h4>
            <p>12 Apr, 2013 at 12:30</p>
        </div>
    </div>
</div>