<div class="container">
    <div class="col-md-3" wb-affix="150">
        <div class="thumbnail">
            <img class="img-rounded" src="http://bootflat.github.io/img/thumbnail-1.jpg">
            <div class="caption text-center">
                <h3>Thumbnail label</h3>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id ...</p>
            </div>
        </div>


        <div class="list-group">
            <a href="#" class="list-group-item active">Cras justo odio</a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
            <a href="#" class="list-group-item"><span class="badge badge-primary">38</span>Morbi leo risus</a>
        </div>

    </div>
    <div class="col-md-9" style="min-height:2000px">
        <div class="well clearfix">
            <div popover="{{user.name.first}} {{user.name.last}}" popover-trigger="mouseenter" ng-repeat="user in users" style="float:left;margin:10px;cursor:pointer">
                <img src="{{user.picture}}" /> {{user.name.first}} {{user.name.last}}
            </div>
        </div>
        <div class="media well">
            <a class="pull-left" href="#">
                <img style="width:28px" class="media-object img-circle" src="http://themepixels.com/demo/webpage/chain/images/photos/profile.png" alt="">
            </a>
            <div class="media-body">
                <strong>Elen Adarna</strong> posted a new story.
                <br>
                <small class="text-muted">December 25 at 3:18pm</small>

                <div class="media blog-media">
                    <a class="pull-left" href="#">
                        <img style="width:128px;margin-top:15px" class="media-object thumbnail" src="http://themepixels.com/demo/webpage/chain/images/photos/media4.png" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-title"><a href="">Ut Enim Ad Minim Veniam</a></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat... <a href="">Read more</a>
                        </p>
                    </div>
                </div>
                <!-- media -->
            </div>
        </div>

        <div class="media well">
            <a class="pull-left" href="#">
                <img style="width:28px" class="media-object img-circle" src="http://themepixels.com/demo/webpage/chain/images/photos/user1.png" alt="">
            </a>
            <div class="media-body">
                <strong>Ray Sin</strong> started following <strong>Eileen Sideways</strong>.
                <br>
                <small class="text-muted">Yesterday at 3:30pm</small>
            </div>
        </div>


        <div class="jumbotron">
            <div class="jumbotron-photo"><img src="http://bootflat.github.io/img/Jumbotron.jpg">
            </div>
            <div class="jumbotron-contents">
                <h1>Implementing the HTML and CSS into your user interface project</h1>
                <h2>HTML Structure</h2>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <h2>CSS Structure</h2>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            </div>
        </div>

    </div>
</div>